.position-detail {
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  .position-header {
    margin: 0 15px;
    padding: 16px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 $gray-3;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;
      .money {
        font-size: 14px;
        font-weight: bold;
        color: #f21e2e;
      }
    }
    .subtitle {
      font-size: 11px;
      font-weight: 400;
      color: #999999;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
  }
  .body {
    padding: 15px 20px;
    border-bottom: 7px solid #f6f6f6;
    section {
      margin-bottom: 30px;
      .van-tag {
        margin-right: 10px;
        padding: 2px 6px;
        font-size: 10px;
        color: #999;
        background-color: #f8f8f8;
      }
      .title {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 10px;
      }
      .desc {
        font-size: 12px;
        font-weight: 400;
        color: #999999;
      }
    }
  }
  .line-title {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    padding-bottom: 10px;
    border-bottom: 1px solid #999999;
  }
  .company-info {
    padding: 15px 20px;
    border-bottom: 7px solid #f6f6f6;
    .info-detail {
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      .info-left {
        flex: 0 0 200px;
        width: 200px;
        .company-title {
          font-size: 14px;
          font-weight: 400;
          color: #333333;
          margin-bottom: 15px;
        }
        .subtitle {
          font-size: 11px;
          font-weight: 400;
          color: #999999;
          margin-bottom: 10px;
        }
      }
      .info-right {
        flex: 0 0 100px;
        width: 100px;
        text-align: center;
        .van-image {
          width: 50px;
          height: 50px;
        }
      }
    }
    .company-address {
      margin-top: 30px;
      p:nth-of-type(1) {
        font-size: 12px;
        font-weight: bold;
        color: #333333;
        img {
          width: 11px;
          height: 11px;
          margin-right: 5px;
        }
      }
      p:nth-of-type(2) {
        font-size: 11px;
        font-weight: 400;
        color: #999999;
      }
    }
    .tips-content {
      padding: 14px 9px;
      background: #f8f8f8;
      border-radius: 2px;
      margin-top: 26px;
      p:nth-of-type(1) {
        font-size: 12px;
        font-weight: 400;
        color: #f21e2e;
        margin-bottom: 11px;
        display: flex;
        align-items: center;
        img {
          width: 14px;
          height: 14px;
          margin-right: 4px;
        }
      }
      p:nth-of-type(2) {
        font-size: 11px;
        font-weight: 400;
        color: #999999;
        line-height: 18px;
      }
    }
  }
  .lesson-container {
    padding: 20px;
  }
  .bottom-container {
    text-align: center;
    .van-button:first-of-type {
      width: 118px;
      height: 47px;
      margin-right: 5px;
      border: 1px solid #f86a68;
      color: #F86A68;
    }
    .van-button:last-of-type {
      width: 222px;
      height: 47px;
      background: linear-gradient(90deg, #f86a68, #f99168);
      border-color: transparent;
    }
  }
}
