@import "./vars";

* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  color: #333;
}
.c-666 {
  color: #666;
}
.c-999 {
  color: #999;
}
.c-333 {
  color: #333;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
